:root {

    --lm-bg-qr: #141D2F;
    --lm-bg-content-qr: #1E2A47;
    --lm-text-qr: white;
    --lm-text-alt-qr: white;
    --lm-shadow-xl-qr: rgba(70, 88, 109, 0.15);


    --lm-icon-bg: brightness(1000%);
    /* 
    
      --lm-bg: #f6f8ff;
      --lm-bg-content: #fefefe;
      --lm-text: #4b6a9b;
      --lm-text-alt: #2b3442;
      --lm-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
      --lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
      --lm-icon-bg: brightness(100%); */
    /* Btn */
    --btn-qr: #0079ff;
    --btn-hover-qr: #60abff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: var(--lm-bg-qr);
    font-size: 13px;
    color: var(--lm-text-qr);
    width: 100%;
    position: relative;
    height: 100vh;

}

#subcode{
    margin-top: 20px;
}


.conatiner {
    width: 327px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 36px;
}

#card {
    width: 255px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1E2A47;
    padding: 18px;
    border-radius: 15px;
}

#btn-back{
    text-decoration: none;
}

.btnq {
    text-decoration: none;
    min-width: 84px;
    padding: 12px 16px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-qr);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
  .btnq:hover {
    cursor: pointer;
    background-color: var(--btn-hover-qr);
  }
  .btnq:active {
    transform: scale(0.975);
  }

#card img {
    width: 260px;
    border-radius: 15px;
}

h3 {
    text-align: center;
    margin: 10px;
    color: hsl(218, 44%, 22%);
    padding: 10px;
}

p #subcode{
    text-align: center;
    color: hsl(220, 15%, 55%);
    margin-bottom: 13px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}